

class {{ clazz.name }}({{ clazz.superclass.name|default('object')}}):
    """ {{ clazz.short|wordwrap(width=75, wrapstring="\n    ") }}.
{%- if clazz.formal %}
    
    {{ clazz.formal|wordwrap(width=75, wrapstring="\n    ") }}
{%- endif %}
    """
{%- if clazz.resource_type %}
    
    resource_type = "{{ clazz.resource_type }}"
{%- endif %}
    
    # {{clazz.properties}}
  
{% for prop in clazz.properties %}
    

    {%- set type_name = prop.class_name %}
    {%- if not prop.is_native %}
        {%- set type_name = "\"{}\"".format(type_name) %}
    {%- endif %}
    {%- if prop.is_array %}
        {%- set type_name = "typing.List[{}]".format(type_name) %}
    {%- endif %}
    {%- if prop.is_optional %}
        {%- set type_name = "typing.Optional[{}]".format(type_name) %}
    {%- endif %}
    {{ prop.name }}: {{ type_name }}


    """ {{ prop.short|wordwrap(67, wrapstring="\n        ") }}.
    {% if prop.is_array %}List of{% else %}Type{% endif %} `{{ prop.class_name }}`{% if prop.is_array %} items{% endif %}
    {%- if prop.reference_to_names|length > 0 %} referencing `{{ prop.reference_to_names|join(', ') }}`{% endif %}
    {%- if prop.json_class != prop.class_name %} (represented as `{{ prop.json_class }}` in JSON){% endif %}. """
{% endfor %}
    

{# {%- for clazz in classes %}
{{ clazz.name }}.update_forward_refs()
{%- endfor %} #}
